/*   Generelle HTML-CSS (barrierefrei)  -  FernUniversität in Hagen  -  Stand: 11/2003   */


/* 	 Alle Elemente und deren Eigenschaften werden auf einen einheitlichen Ausgangswert gesetzt   */

a, abbr, acronym, address, applet, b, bdo, big, blockquote, body, button, center, cite, code, dd, del,
dfn, dir, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, hr, i, iframe, img, ins,
kbd, label, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, tt, u, ul, var {
	background-color: transparent;
	text-decoration: none;
	margin: 0;
	padding: 0;
	border: 0;
	float: none;
	clear: none;
	vertical-align: baseline;
 }

/* 	 Diesen Elementen (ausser HTML) wird eine display-Eigenschaft zugewiesen   */

address, blockquote, body, center, dd, dir, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, menu, ol, p, pre, ul {
	display: block;
}

a, abbr, acronym, applet, b, bdo, big, button, cite, code, del, dfn, em, font, i, iframe, img,
ins, kbd, label, object, q, s, samp, small, span, strike, strong, sub, sup, tt, u, var {
	display: inline;
}

li {
	display: list-item;
}

/*   Weitere grundsätzliche Einstellungen, die normalerweise nicht geändert werden   */

html {
	word-spacing: normal;
	letter-spacing: normal;
	text-transform: none;
	text-indent: 0;
	white-space: normal;
}

i, cite, em, var, address {
	font-style: italic;
}

pre {
	white-space: pre;
}

big {
	font-size: larger;
}

small, sub, sup {
	font-size: 1em;
}

sub {
	vertical-align: sub;
}

sup {
	vertical-align: super;
}

s, strike, del {
	text-decoration: line-through;
}

b, strong {
	font-weight: bold;
}

u {
	text-decoration: underline;
}

/*   Beginn der Cascadierung   */

html {
	font-size: medium;
	line-height: normal;
	text-align: left;
}

pre, tt, code, kbd, samp {
	font-family: Courier, monospace, "Courier New", Sans-Serif;
}

tt {
	font-size: 1em;
}

body {
	height: auto;
	width: auto;
}


/*   DIVs fürs Layout   */

#logo-leiste {
	position: absolute; top: 0; left: 0;
	width: 100%; height: 10%;
	border-bottom: solid 1px black;
}

	#logo-uni {
		position: absolute; top: 0; left: 0;
		width: 18%; height: 100%;
		padding-left: 0.3em;
	}

	#logobox {
		position: absolute; top: 0; left: 18%;
		width: 82%; height: 100%;
		z-index: 1;
	}

	#logo-kurs {
		position: absolute; top: 0; left: 4%;
		width: 71%; height: 100%;
	}

	#logo-lg {
		position: absolute; top: 0; left: 75%;
		width: 25%; height: 100%;
	}

#leiste2 {
	position: absolute; top: 10%; left: 0;
	width: 100%; height: 3%;
	border-bottom: solid 1px black;

}

	#start {
		position: absolute; top: 0; left: 0;
		width: 18%; height: 100%;

	}

	#ktitelbox {
		position: absolute; top: 0; left: 18%;
		width: 82%; height: 100%;
	}

	#ktitel {
		position: absolute; top: 0%; left: 4%;
		width: 96%; height: 100%;
	}


#leiste3 {
	position: absolute; top: 13%; left: 0;
	width: 100%; height: 82%;
}

	#navi1 {
		position: absolute; top: 0%; left: 0;
 		width: 18%;
 		height: 100%;
	}

	#lehrinhaltbox {
		position: absolute; top: 0%; left: 18%;
		width: 82%; height: 100%;
		border-left: solid 1px black;
		z-index: 2;
	}

	#lehrinhalt {
		position: absolute; top: 2%; left: 2%;
		width: 98%;
		height: 98%;
		overflow: auto;
	}

#leiste4 {
	position: absolute; top: 95%; left: 0;
	width: 100%; height: 5%;
	border-top: solid 1px black;
}

	#navi2 {
		position: absolute; top: 0; left: 0;
		width: 18%; height: 100%;
	}

	#navi3box {
		position: absolute; top: 0; left: 18%;
		width: 82%; height:100%;

	}

	#navi3 {
		position: absolute; top: 0;
		height: 100%;


	}

/*   Angaben für die korrekte Auszurichtung von IMAGES   */

img.left {
         float: left;
}

img.right {
         float: right;
}

img.center, span.formel-imtext img {
         vertical-align: middle;
}

/*   Gestaltung von Verweisen   */
/*   Generelle Verweise ohne Klassifizierung  */

a, a:link, a:visited, a:active {
	text-decoration: none;
	font-weight: bold;
}

/*   Navigationsverweise   */

a.navistart, a.navistart:link, a.navistart:visited, a.navistart:active {
	display: block;
	padding-left: 0.7em;
	font-size: 0.7em;
	line-height: 1.1em;
}

a.navi1, a.navi1:link, a.navi1:visited, a.navi1:active,
a.navi1_akt, a.navi1_akt:link, a.navi1_akt:visited, a.navi1_akt:active,
a.navi2, a.navi2:link, a.navi2:visited, a.navi2:active,
a.navi2_akt, a.navi2_akt:link, a.navi2_akt:visited, a.navi2_akt:active,
a.navi1sonder, a.navi1sonder:link, a.navi1sonder:visited, a.navi1sonder:active,
a.navi1sonder_akt, a.navi1sonder_akt:link, a.navi1sonder_akt:visited, a.navi1sonder_akt:active {
	display: block;
	padding-left: 3em;
	font-size: 0.75em;
	background-image: none;
}

a.navi1sonder, a.navi1sonder:link, a.navi1sonder:visited, a.navi1sonder:active,
a.navi1sonder_akt, a.navi1sonder_akt:link, a.navi1sonder_akt:visited, a.navi1sonder_akt:active {
	background-image: none;
}

/*   Verweise innerhalb der Verzeichnisse   */

a.inhalt, a.inhalt:link, a.inhalt:visited, a.inhalt:active,
a.inhalt1, a.inhalt1:link, a.inhalt1:visited, a.inhalt1:active,
a.inhalt2, a.inhalt2:link, a.inhalt2:visited, a.inhalt2:active,
a.inhalt3, a.inhalt3:link, a.inhalt3:visited, a.inhalt3:active,
a.inhalt4, a.inhalt4:link, a.inhalt4:visited, a.inhalt4:active,
a.inhalt5, a.inhalt5:link, a.inhalt5:visited, a.inhalt5:active,
a.inhalt6, a.inhalt6:link, a.inhalt6:visited, a.inhalt6:active,
a.objekt, a.objekt:link, a.objekt:visited, a.objekt:active, span.medium,
a.inhalt1num, a.inhalt1num:link, a.inhalt1num:visited, a.inhalt1num:active,
a.inhalt2num, a.inhalt2num:link, a.inhalt2num:visited, a.inhalt2num:active,
a.inhalt3num, a.inhalt3num:link, a.inhalt3num:visited, a.inhalt3num:active,
a.inhalt4num, a.inhalt4num:link, a.inhalt4num:visited, a.inhalt4num:active,
a.inhalt5num, a.inhalt5num:link, a.inhalt5num:visited, a.inhalt5num:active,
a.inhalt6num, a.inhalt6num:link, a.inhalt6num:visited, a.inhalt6num:active,
a.objektnum, a.objektnum:link, a.objektnum:visited, a.objektnum:active,
a.mediennum, a.mediennum:link, a.mediennum:visited, a.mediennum:active,
a.medziel, a.medziel:link, a.medziel:visited, a.medziel:active  {
	display: block;
	font-size: 0.8em;
	font-weight: normal;
}

a.inhalt1num, a.inhalt1num:link, a.inhalt1num:visited, a.inhalt1num:active,
a.inhalt2num, a.inhalt2num:link, a.inhalt2num:visited, a.inhalt2num:active,
a.inhalt3num, a.inhalt3num:link, a.inhalt3num:visited, a.inhalt3num:active,
a.inhalt4num, a.inhalt4num:link, a.inhalt4num:visited, a.inhalt4num:active,
a.inhalt5num, a.inhalt5num:link, a.inhalt5num:visited, a.inhalt5num:active,
a.inhalt6num, a.inhalt6num:link, a.inhalt6num:visited, a.inhalt6num:active,
a.objektnum, a.objektnum:link, a.objektnum:visited, a.objektnum:active,
a.mediennum, a.mediennum:link, a.mediennum:visited, a.mediennum:active,
a.medziel, a.medziel:link, a.medziel:visited, a.medziel:active  {
	width: 2em;
	float: left;
	clear: both;
}

a.inhalt, a.inhalt:link, a.inhalt:visited, a.inhalt:active,
a.inhalt1, a.inhalt1:link, a.inhalt1:visited, a.inhalt1:active,
a.inhalt1num, a.inhalt1num:link, a.inhalt1num:visited, a.inhalt1num:active {
         font-weight: bold;
}

a.inhalt1, a.inhalt1:link, a.inhalt1:visited, a.inhalt1:active,
a.inhalt1num, a.inhalt1num:link, a.inhalt1num:visited, a.inhalt1num:active {
	padding-top: 1em;
}

a.inhalt2num, a.inhalt2num:link, a.inhalt2num:visited, a.inhalt2num:active {
	padding-left: 2em;
	width: 2.5em;
}

a.inhalt3num, a.inhalt3num:link, a.inhalt3num:visited, a.inhalt3num:active {
	padding-left: 4.5em;
	width: 3.5em;
}

a.inhalt4num, a.inhalt4num:link, a.inhalt4num:visited, a.inhalt4num:active {
	padding-left: 8em;
	width: 6em;
}

a.inhalt5num, a.inhalt5num:link, a.inhalt5num:visited, a.inhalt5num:active {
	padding-left: 8em;
	width: 6em;
}

a.inhalt6num, a.inhalt6num:link, a.inhalt6num:visited, a.inhalt6num:active {
	padding-left: 8em;
	width: 6em;
}

a.objektnum, a.objektnum:link, a.objektnum:visited, a.objektnum:active {
	width: 6em;
}

a.mediennum, a.mediennum:link, a.mediennum:visited, a.mediennum:active {
	width: 6em;
}

a.medziel, a.medziel:link, a.medziel:visited, a.medziel:active {
	clear: none;
	width: 6em;
}

a.inhalt, a.inhalt:link, a.inhalt:visited, a.inhalt:active,
a.inhalt1, a.inhalt1:link, a.inhalt1:visited, a.inhalt1:active {
	padding-left: 2em;
}

a.inhalt2, a.inhalt2:link, a.inhalt2:visited, a.inhalt2:active {
	padding-left: 4.5em;
}

a.inhalt3, a.inhalt3:link, a.inhalt3:visited, a.inhalt3:active {
	padding-left: 8em;
}

a.inhalt4, a.inhalt4:link, a.inhalt4:visited, a.inhalt4:active {
	padding-left: 14em;
}

a.inhalt5, a.inhalt5:link, a.inhalt5:visited, a.inhalt5:active {
	padding-left: 14em;
}

a.inhalt6, a.inhalt6:link, a.inhalt6:visited, a.inhalt6:active {
	padding-left: 14em;
}

a.objekt, a.objekt:link, a.objekt:visited, a.objekt:active {
	padding-left: 6em;
}

/*   Absatzformate fuer die Navigation   */

.ktitel {
	font-size: 0.7em;
	font-weight: bold;
	line-height: 1.1em;
}

.navi1, .lernumgebung, .schalt {
	margin-left: 0.1em;
	width: 88%;
}

.navi2 {
	display: inline;
}

.navi2act {
	display: inline;
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	font-size: 0.75em;
	font-weight: bold;
}

.lernumgebung {
	padding-top: 0.1em;
	padding-bottom: 0.2em;
	font-weight: bold;
}

.schalt {
	margin-top: 1.5em;
	text-align: right;
}

.schalt2 {
	text-align: right;
}

/*   Alle DIVs innerhalb des Lehrinhaltes auf width: 80% wg. Marginalien   */

div#lehrinhaltbox div#lehrinhalt div {
	width: 80%;
}

/*   Ausnahmen   */

div#lehrinhaltbox div#lehrinhalt div.tabelle-alt {
	width: 99%;
}

/*   DIVs, die Farbflächen oder Rahmen haben sollten generell 2% schmaler sein   */

div.beispiel, div.einsendeaufgabe, div.merksatz, div.selbsttestaufgabe, div.uebungsaufgabe, div.vertiefung {
	width: 78%;
}

/*   Hier wird bei verschachtelten Elementen die o.g. width (80%) wieder aufgehoben,
     zusätzlich werden Vor- und Nachabstände auf 0 gesetzt   */

div#lehrinhaltbox div#lehrinhalt div div {
	width: 100%;
	margin-top: 0;
	margin-bottom: 0.5em;
}

/*   DIVs ohne besondere Eigenschaften   */

div.abbildungsverz, div.abkuerzungsverz, div.aufgabenloesung, div.aufgabenstellung, div.einsendeaufgabe, div.glossar,
div.index, div.inhaltsverz, div.listenbox, div.loesungen, div.loesungshinweis, div.multimediaverz, div.symbolverz,
div.tabellenverz, div.unteraufgabe
{}

/*   Abstände der DIVs zu den vor- und nachstehenden Elementen   */

div#lehrinhaltbox div#lehrinhalt div div.tabelle {
	margin-bottom: 1em;
}

div.annahme, div.axiom, div.bemerkung, div.beweis, div.corollar, div.definition, div.folgerung, div.hauptsatz, div.hilfssatz,
div.lemma, div.loesung, div.problem, div.proposition, div.regel, div.satz, div.theorem, div.x-umgebung {
	margin-bottom: 0.9em;
	margin-left: 3em;
}

div.einsendeaufgabe, div.selbsttestaufgabe, div.uebungsaufgabe, div.zitat {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}

div.exkurs, div.fall, div.kommentar, div.norm, div.rechtsprechung, div.zusammenfassung {
	margin: 1.5em 0em 1.5em 3em;
}

div.abschnitt, div.npr-teil {
	margin-top: 1.5em;
}

div.begriffsverz {
	margin-top: 0.8em;
}

div.beispiel {
	margin-bottom: 1.4em;
	padding: 0.1em;
}

div.fnabschnitt div.fussnote {
	margin-bottom: 0.2em;
}

div.formel, div.formel-num, div.formelarray, div.formelarray-num {
	margin-bottom: 0.9em;
	margin-left: 4.0em;
}

div.indexdiv   {
	margin-top: 1.2em;
}

div.indexeintrag {
	margin-top: 0.5em;
	font-size: 0.8em;
	line-height: 1.2em;
}

div.literaturliste div.liteintrag {
	margin-bottom: 0.5em;
	width: 100%;
}


div.lit-imtext {
	margin-bottom: 1em;
}

div.merksatz {
	margin-bottom: 1.5em;
}

div.motto {
	text-align: right;
	margin-bottom: 1em;
}




div.proglist {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 1.5em;
}


div.studierhinweise {
	margin-bottom: 0.4em;
}

div.tabelle, div.tabelle-alt {
	margin-top: 2em;
	margin-bottom: 2em;
	width: 99%;
}

div.tabtitel {
	padding-bottom: 0.3em;
}

div.vertiefung {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding: 0.3em;
}


/*   DIVs mit Linien-, Hintergrund- bzw. Textfarbe oder abweichenden Schrifteigenschaften   */

div.npr-teil {
	padding-left: 0.5em;
}

div.zitat {
	padding-left: 3em;
	font-family: "Times New Roman", Times, Serif;
	font-style: italic;
}

div.fnabschnitt {
	font-size: 0.8em;
	line-height: 1.3em;
}

/*   ÜBERSCHRIFTEN  */

.kap-num {
	width: 15%;
	float: left;
}

h1 {
	padding-bottom: 0.7em;
	font-size: 1.6em;
	line-height: 1.3em;
}

h2 {
	padding-bottom: 0.5em;
	font-size: 1.4em;
	line-height: 1.3em;
}

h3 {
	padding-bottom: 0.5em;
	font-size: 1.2em;
	line-height: 1.3em;
}

h4, h5, h6 {
	padding-bottom: 0.3em;
	font-size: 1em;
	line-height: 1.2em;
}

.titel {
	margin-left: 15%;
	font-weight: bold;
}

/*   ABSATZFORMATE   */

/*   Absatzformate ohne besondere Eigenschaften   */

p.siehe, p.sieheauch, span.formel-imtext
{}

/* Generelle Absatzformate */

div#lehrinhaltbox div#lehrinhalt p {
	margin-right: 20%;
}

div#lehrinhaltbox div#lehrinhalt div p {
	margin-right: 0;
}

.absatz {
	padding-bottom: 1.3em;

}
.absatz-klein {
	padding-bottom: 0.7em;
}

.absatz-mini {
	padding-bottom: 0.3em;
}

.absatz-ohne {
	padding-bottom: 0em;
}

div#lehrinhaltbox div#lehrinhalt p.titelei {
	margin-right: 0;
	font-size: 0.8em;
	line-height: 1.5em;
}

.zwischentitel {
	margin-bottom: 0.3em;
	font-weight: bold;
}

/*   Besondere Absatzformate innerhalb der DIVs -----------------------------------------------------------------------   */

/*   Aufgaben und Lösungen   */

div.selbsttestaufgabe p.zwischentitel, div.uebungsaufgabe p.zwischentitel, div.einsendeaufgabe p.zwischentitel {
	margin-bottom: 0.9em;
}

div.aufgabenstellung p.zwischentitel {
	margin-bottom: 0.5em;
}

div.einsendeaufgabe div.aufgabenstellung p.zwischentitel {
	background-color: transparent;
	border: none;
}

div.unteraufgabe p {
	margin-left: 5%;
}

div.unteraufgabe p.ua-nummer {
	margin-left: 0em;
	width: 5%;
	float: left;
}

div.aufgabenloesung p.zwischentitel {
	margin-top: 1em;
	margin-bottom: 0.7em;
}

/*   Abkürzungs-, Begriffs-, Symbolverzeichnis und Glossar   */

p.stichwort {
	font-weight: bold;
}

div.glossar div.universaleintrag p.stichwort {
	margin-top: 0.4em;
	margin-bottom: 0.3em;
}

div.abkuerzungsverz div.universaleintrag p {
	margin-left: 30%;
}

div.abkuerzungsverz div.universaleintrag p.stichwort {
	margin-left: 0;
	width: 30%;
	float: left;
}

div.begriffsverz div.universaleintrag p.stichwort {
	margin-bottom: 0.3em;
}

div.symbolverz div.universaleintrag p {
	margin-left: 10%;
}

div.symbolverz div.universaleintrag p.stichwort {
	margin-left: 0;
	width: 10%;
	float: left;
}

/*   Andere Umgebungen   */

div.beispiel p.zwischentitel {
	margin-top: 0.2em;
}

div.exkurs p.zwischentitel, div.fall p.zwischentitel, div.kommentar p.zwischentitel, div.norm p.zwischentitel,
div.rechtsprechung p.zwischentitel, div.zusammenfassung p.zwischentitel {
	margin-bottom: 0.2em;
	font-size: 1.2em;
}

pre.buchstaeblich, pre.schreibmaschine {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-family: Arial, "Arial Unicode MS", Geneva, Helvetica, SunSans-Regular, Sans-serif;
	font-size: 1.0em;
}

div.lit-imtext p {
	padding-left: 3em;
	text-indent: -3em;
}

div.merksatz p.zwischentitel {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

div.motto p {
	font-family: "Times New Roman", Times, Serif;
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
}

div.proglist p.zwischentitel {
	margin-bottom: 0.5em;
	font-size: 1.2em;
}

pre.schreibmaschine {
	font-family: Courier, monospace;
}

div.vertiefung p.zwischentitel {
	margin-bottom: 0.2em;
}

/*   Fußnoten   */

div.fnabschnitt p.zwischentitel {
	margin-bottom: 0.7em;
	font-size: 1.3em;
}

div.fussnote p {
	margin-left: 6%;
}

div.fussnote p.fnnummer {
	margin-left: 0;
	width: 6%;
	float: left;
}

div.fussnote div.listenbox {
	margin-left: 6%;
}

div.fussnote div.listenbox p {
	margin-left: 0;
}

/*   Index   */

div.indexdiv p.absatz-ohne {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.5em;
}

p.primaereintrag {
	font-weight: bold;
}

p.sekundaereintrag, p.siehe-s, p.sieheauch-s {
	margin-left: 1.5em;
}

p.tertiaereintrag, p.siehe-tp, p.sieheauch-t{
	margin-left: 3em;
}

/* Literaturliste */

div.literaturliste p.zwischentitel {
	margin-bottom: 0.7em;
	font-size: 1.4em;
}

div.literaturliste div.liteintrag p {
	margin-left: 30%;
}

div.literaturliste div.liteintrag p.litnummer {
	margin-left: 0;
	width: 6%;
	float: left;
}

div.literaturliste div.liteintrag p.litkennung {
	margin-left: 0;
	width: 24%;
	float: left;
}

/*   Medienobjekte   */


div.medienobjekt {
	margin-top: 1em;
	margin-bottom: 2em;
}

div.animation, div.audio, div.simulation, div.text, div.video {
         display: table;
         height: 100%;
}

div.medienobjekt p {
	font-size: 0.8em;
	line-height: 1.3em;
	height: 100%;
	vertical-align: top;
}

p.pikto {
	display: table-cell;
	height: 100%;
	float: left;
}

p.medienobjektnum {
	display: table-cell;
	white-space: nowrap;
	padding: 0em 0.8em 0em 0.5em;
	height: 100%;
	float: left;
}

div.bild img, div.grafik img {
        margin-bottom: 0.8em;
        margin-right: 0.8em;
	float: left;
}

div.bild p.bildgrafnum, div.bild p.bildgrafnum {
	padding-right: 0.5em;
	float: left;
}

p.loesungspikto a {
	display: block;
         margin-top: -1.3em;
         background-image:url(../images/loesungspikto.gif);
	background-repeat: no-repeat;
         width: 37px;
         height: 31px;
}

p.aufgabenpikto a {
	display: block;
         margin-top: -1.3em;
         background-image:url(../images/aufgabenpikto.gif);
	background-repeat: no-repeat;
         width: 37px;
         height: 31px;
}
/* ------------------------------------------------------------

div.bild {
	display: table-cell;
	border: solid 1px red;
}

div.bild img {
	margin-right: 1em;
	float: left;
}

div#lehrinhaltbox div#lehrinhalt div.medienobjekt div.objekttitel {
	display: block;
	padding-top: 0.5em;
	vertical-align: bottom;
	border: solid 1px navy;
}

div#lehrinhaltbox div#lehrinhalt div.medienobjekt div.objekttitel p {
	font-size: 0.8em;
	line-height: 1.4em;
}

/* ------------------------------------------------------------

div.medienobjekt-klein {
	margin-top: 1em;
	margin-bottom: 2em;
	border: solid 1px green;
}

div.medienobjekt-klein div.bild {
	display: table-cell;
	margin: 0em 1em 0em 0em;
	padding; 0;
	border: solid 1px red;
}

div.medienobjekt-klein div.bild img {

}

div.medienobjekt-klein div.objekttitel {
	display: table-cell;
	height: 100%;
	padding-top: 0.5em;
	vertical-align: bottom;
	border: solid 1px navy;
}

div.medienobjekt-klein div.objekttitel p {
	font-size: 0.8em;
	line-height: 1.4em;
}

/* div#lehrinhaltbox div#lehrinhalt div.medienobjekt div.objekttitel p.bildnum {

} */

/*   Zitat   */

div.zitat p.zwischentitel {
	margin-bottom: 0.3em;
	font-size: 1.2em;
}

/*   Marginalien   ------------------------------------------------------------------------------------------------------   */

span.marginalie {
	position: absolute;
	margin-top: 0.25em;
	width: 16%;
	left: 82%;
	font-size: 0.8em;
	line-height: 1.1em;
	padding-left: 0.4em;
}

span.absatz, span.absatz-klein, span.absatz-mini, span.absatz-ohne, span.marginalie span.buchstaeblich   {
	display: block;
}

span.eintrag {
	display: list-item;
}

span.nummerierteliste span.eintrag {
	list-style: decimal;
	margin-left: 1.7em;
}

span.aufzaehlungsliste span.eintrag {
	list-style: disc;
	margin-left: 1.2em;
}

/*   Mathematische Umgebungen ------------------------------------------------------------------------------------------   */

div.axiom p, div.axiom ol, div.axiom ul, div.axiom li,
div.corollar p, div.corollar ol, div.corollar ul, div.corollar li,
div.definition p, div.definition ol, div.definition ul, div.definition li,
div.folgerung p,div.folgerung ol,div.folgerung ul, div.folgerung li,
div.hauptsatz p, div.hauptsatz ol,div.hauptsatz ul, div.hauptsatz li,
div.hilfssatz p, div.hilfssatz ol, div.hilfssatz ul, div.hilfssatz li,
div.lemma p, div.lemma ol, div.lemma ul, div.lemma li,
div.proposition p, div.proposition ol, div.proposition ul, div.proposition li,
div.regel p, div.regel ol, div.regel ul, div.regel li,
div.satz p, div.satz ol, div.satz ul, div.satz li,
div.theorem p, div.theorem ol, div.theorem ul, div.theorem li,
div.x-umgebung p, div.x-umgebung ol, div.x-umgebung ul, div.x-umgebung li {
	font-style: italic;
}

div.axiom p.titel, div.corollar p.titel, div.definition p.titel, div.folgerung p.titel, div.hauptsatz p.titel,
div.hilfssatz p.titel, div.lemma p.titel, div.proposition p.titel, div.regel p.titel,
div.satz p.titel, div.theorem p.titel, div.x-umgebung p.titel {
	margin-bottom: 0.2em;
	margin-left: 0;
	font-style: normal;
}

div.axiom span.titel, div.corollar span.titel, div.definition span.titel, div.folgerung span.titel, div.hauptsatz span.titel,
div.hilfssatz span.titel, div.lemma span.titel, div.proposition span.titel, div.regel span.titel,
div.satz span.titel, div.theorem span.titel, div.x-umgebung span.titel {
	margin-left: 0em;
	font-style: normal;
	font-weight: bold;
}

div.annahme p.zwischentitel, div.bemerkung p.zwischentitel, div.beweis p.zwischentitel, div.loesung p.zwischentitel,
div.problem p.zwischentitel {
	margin-bottom: 0.2em;
}

/*   LISTEN ------------------------------------------------------------------------------------------------------------   */

ol.dezimal, ol.g-alpha, ol.k-alpha, ol.g-roemisch, ol.k-roemisch, ol.griechisch {
	padding-left: 1.8em;
}
ul.punkt, ul.kreis, ul.quadrat, ul.spiegelstrich, ul.nichts {
	padding-left: 1.2em;
}

ol.dezimal, ol ol.dezimal, ul ol.dezimal, ol ol ol.dezimal, ol ul ol.dezimal, ul ul ol.dezimal, ul ol ol.dezimal, ol ol ol ol.dezimal, ol ol ul ol.dezimal, ol ul ul ol.dezimal, ol ul ol ol.dezimal, ul ul ul ol.dezimal, ul ul ol ol.dezimal, ul ol ol ol.dezimal, ul ol ul ol.dezimal {
	list-style-type: decimal;
}

ol.g-alpha, ol ol.g-alpha, ul ol.g-alpha, ol ol ol.g-alpha, ol ul ol.g-alpha, ul ul ol.g-alpha, ul ol ol.g-alpha, ol ol ol ol.g-alpha, ol ol ul ol.g-alpha, ol ul ul ol.g-alpha, ol ul ol ol.g-alpha, ul ul ul ol.g-alpha, ul ul ol ol.g-alpha, ul ol ol ol.g-alpha, ul ol ul ol.g-alpha {
	list-style-type: upper-alpha;
}

ol.k-alpha, ol ol.k-alpha, ul ol.k-alpha, ol ol ol.k-alpha, ol ul ol.k-alpha, ul ul ol.k-alpha, ul ol ol.k-alpha, ol ol ol ol.k-alpha, ol ol ul ol.k-alpha, ol ul ul ol.k-alpha, ol ul ol ol.k-alpha, ul ul ul ol.k-alpha, ul ul ol ol.k-alpha, ul ol ol ol.k-alpha, ul ol ul ol.k-alpha {
	list-style-type: lower-alpha;
}

ol.g-roemisch, ol ol.g-roemisch, ul ol.g-roemischol ol ol.g-roemisch, ol ul ol.g-roemisch, ul ul ol.g-roemisch, ul ol ol.g-roemisch, ol ol ol ol.g-roemisch, ol ol ul ol.g-roemisch, ol ul ul ol.g-roemisch, ol ul ol ol.g-roemisch, ul ul ul ol.g-roemisch, ul ul ol ol.g-roemisch, ul ol ol ol.g-roemisch, ul ol ul ol.g-roemisch {
	list-style-type: upper-roman;
}

ol.k-roemisch, ol ol.k-roemisch, ul ol.k-roemisch, ol ol ol.k-roemisch, ol ul ol.k-roemisch,
ul ul ol.k-roemisch, ul ol ol.k-roemisch, ol ol ol ol.k-roemisch, ol ol ul ol.k-roemisch, ol ul ul ol.k-roemisch, ol ul ol ol.k-roemisch, ul ul ul ol.k-roemisch, ul ul ol ol.k-roemisch, ul ol ol ol.k-roemisch, ul ol ul ol.k-roemisch {
	list-style-type: lower-roman;
}

ol.griechisch, ol ol.griechisch, ul ol.griechisch, ol ol ol.griechisch, ol ul ol.griechisch, ul ul ol.griechisch, ul ol ol.griechisch, ol ol ol ol.griechisch, ol ol ul ol.griechisch, ol ul ul ol.griechisch, ol ul ol ol.griechisch, ul ul ul ol.griechisch, ul ul ol ol.griechisch, ul ol ol ol.griechisch, ul ol ul ol.griechisch {
	list-style-type: lower-greek;
}

ul.punkt, ul ul.punkt, ol ul.punkt, ul ul ul.punkt, ul ol ul.punkt,
ol ol ul.punkt, ol ul ul.punkt, ul ul ul ul.punkt, ul ul ol ul.punkt, ul ol ol ul.punkt, ul ol ul ul.punkt,
ol ol ol ul.punkt, ol ol ul ul.punkt, ol ul ul ul.punkt, ol ul ol ul.punkt {
	list-style-type: disc;
}

ul.kreis, ul ul.kreis, ol ul.kreis, ul ul ul.kreis, ul ol ul.kreis, ol ol ul.kreis, ol ul ul.kreis, ul ul ul ul.kreis, ul ul ol ul.kreis, ul ol ol ul.kreis, ul ol ul ul.kreis, ol ol ol ul.kreis, ol ol ul ul.kreis, ol ul ul ul.kreis, ol ul ol ul.kreis {
	list-style-type: circle;
}

ul.quadrat, ul ul.quadrat, ol ul.quadrat, ul ul ul.quadrat, ul ol ul.quadrat, ol ol ul.quadrat, ol ul ul.quadrat, ul ul ul ul.quadrat, ul ul ol ul.quadrat, ul ol ol ul.quadrat, ul ol ul ul.quadrat, ol ol ol ul.quadrat, ol ol ul ul.quadrat, ol ul ul ul.quadrat, ol ul ol ul.quadrat {
	list-style-type: square;
}

ul.spiegelstrich, ul ul.spiegelstrich, ol ul.spiegelstrich, ul ul ul.spiegelstrich, ul ol ul.spiegelstrich, ol ol ul.spiegelstrich, ol ul ul.spiegelstrich, ul ul ul ul.spiegelstrich, ul ul ol ul.spiegelstrich, ul ol ol ul.spiegelstrich, ul ol ul ul.spiegelstrich, ol ol ol ul.spiegelstrich, ol ol ul ul.spiegelstrich, ol ul ul ul.spiegelstrich, ol ul ol ul.spiegelstrich {
	list-style-image: url(../images/spstrich.gif);
}

ul.nichts, ul ul.nichts, ol ul.nichts, ul ul ul.nichts, ul ol ul.nichts, ol ol ul.nichts, ol ul ul.nichts, ul ul ul ul.nichts, ul ul ol ul.nichts, ul ol ol ul.nichts, ul ol ul ul.nichts, ol ol ol ul.nichts, ol ol ul ul.nichts, ol ul ul ul.nichts, ol ul ol ul.nichts {
	list-style-type: none;
}

div.listeintrag p.zaehler {
	width: 6%;
	float: left;
	margin-left: 0%;
}

div.listeintrag p {
	margin-left: 6%;
}

div#lehrinhalt div div.listenbox  {
	margin-left: 6%;
}


/* Tabellen -----------------------------------------------------------------------------------------------------   */

table {
	display: table;
	margin-left: 0.1%;
	border-spacing: 0px;
	border-collapse: collapse;
}

thead {
	display: table-header-group;
}

th {
	display: table-cell;
	padding: 3px;
	border-spacing: 0px;
	border-collapse: collapse;
	font-size: 0.85em;
	font-weight: normal;
	line-height: 1.2em;
}

tr {
	display: table-row;
}

tbody {
	display: table-row-group;
}

td {
	display: table-cell;
	padding: 5px;
	border-spacing: 0px;
	border-collapse: collapse;
}

tfoot {
	display: table-footer-group;
	padding: 3px;
	background-color: transparent;
}

div.tabtitel p {
	padding-bottom: 0.2em;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 1.2em;
}

div.tabtitel p.tabnummer {
	margin-bottom: 1em;
	width: 10%;
	float: left;
}

div.tabelle td {
	font-size: 1em;
	line-height: 1.3em;
}

div.tabelle-alt td {
	font-size: 0.8em;
	line-height: 1.2em;
}

div.tabelle tfoot {
	font-size: 0.8em;
	line-height: 1.2em;
}

/*   TITELSEITE   --------------------------------------------------------------------------------------------------------   */

div.titelseite {
	margin: 0;
}

p.kurstitel, p.ke-bezeich, p.ke-titel, p.a-bezeich, p.autoren,
p.m-bezeich, p.mitarbeiter, p.g-bezeich, p.gestalter, p.copyright, p.kursnummer, p.codierung {
	margin: 0;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	line-height: 1.2em;
}

p.kurstitel {
	margin-bottom: 0.5em;
	font-size: 1.5em;
	line-height: 1.3em;
}

p.ke-bezeich, p.a-bezeich, p.m-bezeich, p.g-bezeich  {
	margin: 0;
}

p.ke-titel {
	margin-bottom: 1.5em;
}

p.autoren,p.mitarbeiter,p.gestalter {
	margin-bottom: 0.5em;
}

p.copyright {
	margin-bottom: 1em;
	font-size: 0.6em;
	line-height: 1.3em;
}

p.kursnummer {
	margin-bottom: 1em;
	font-size: 1.5em;
	line-height: 1.3em;
}

p.codierung {
	margin-bottom: 1em;
	font-style: normal;
	font-weight: bold;
}


/*   ZEICHENFORMATE   -----------------------------------------------------------------------------------------------------   */

.aufhebung {
	font-weight: normal;
	font-style: normal;
}

.kapitaelchen {
	text-transform: uppercase;
	font-variant: small-caps;
}