<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Patl4J.commands.category"
            name="Patl4J">
      </category>
      <command
            categoryId="Patl4J.commands.category"
            id="Patl4J.commands.transform"
            name="transform projects">
      </command>
      <command
            categoryId="Patl4J.commands.category"
            id="Patl4J.commands.normalize"
            name="normalize projects">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="patl4j.handlers.Patl4JNormalizer"
            commandId="Patl4J.commands.normalize">
      </handler>
      <handler
            class="patl4j.handlers.Patl4JTransformer"
            commandId="Patl4J.commands.transform">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="Patl4J.commands.transform"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="Patl4J.commands.normalize"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="Patl4J.menus.sampleMenu"
               label="Patl4J"
               mnemonic="M">
            <command
                  commandId="Patl4J.commands.transform"
                  id="Patl4J.menus.transform"
                  mnemonic="S">
            </command>
            <command
                  commandId="Patl4J.commands.normalize"
                  id="Patl4J.menus.normalize"
                  mnemonic="F">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="Patl4J.toolbars.sampleToolbar">
            <command
                  commandId="Patl4J.commands.transform"
                  icon="icons/sample.gif"
                  id="Patl4J.toolbars.transform"
                  tooltip="Transform projects with Patl4J">
            </command>
            <command
                  commandId="Patl4J.commands.normalize"
                  icon="icons/sample.gif"
                  id="Patl4J.toolbars.normalize"
                  tooltip="Normalize projects with Patl4J">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
</plugin>
