/*  Spezielle CSS für FuXML-Test  -  FernUniversität in Hagen / ZFE  -  Stand: 11/2003  */

html     {
         font-size: 1em;
         line-height: 1.4em;
         background-color: #FFFFFF;
         color: #000000;
         font-family: Arial, "Arial Unicode MS", Geneva, Helvetica, SunSans-Regular, Sans-serif;
         }

body {
	overflow:hidden;
}

/*   Scrollbar-Definitionen für Internet-Explorer   */

body {
	scrollbar-arrow-color: #CC6666;
	scrollbar-base-color: #FFFFFF;
	scrollbar-face-color: #F0EFF4;
	scrollbar-3d-light-color: #666699;
	scrollbar-darkshadow-color: #E6E6FA;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #333399;
	scrollbar-track-color: #F0EFF4;
}


/*   Farben und Grösse der Layout-Divs   */

/*   logo-leiste   */

#logo-leiste {
	border-bottom: none;
	background-color: #E6E6F3;
}
	#logo-uni {
		background-color: transparent;
	}

	#logobox {
		background-color: #E6E6F3;
		width: 81.9%;
		border-left: solid 10px #333399;
	}

	#logo-kurs {
		left: 2.5%;
		background-color: transparent;
		color: #333399;
	}

	#logo-lg {
		background-color: transparent;
	}

/*   leiste2   */

#leiste2 {
	border-bottom: none;
}

	#start {
		padding-top: 0.3em;
		background-color: #333399;
		color: #FFFFFF;
	}

	#ktitelbox {
		background-image:url(../images/kugel.gif);
		background-repeat:no-repeat;
		background-color: #CC6666;
	}

	#ktitel {
        	padding-top: 0.3em;
        	background-color: transparent;
        	color: #FFFFFF;
	}

/*   leiste 3: Bei Verzicht auf Leiste 4 muss die Höhe in #leiste3 von 82% auf 87% geändert werden.  */

#leiste3 {
         height: 87%;
}
	#navi1 {
		overflow: auto;
		background-color: #E6E6F3;
		color: #FFFFFF;
	}

	#lehrinhaltbox {
		border-left: none;
		background-color: #FFFFFF;
	}

	#lehrinhalt {
		left: 4%;
		width: 96%;
		color: #000000;
	}

/*   leiste 4:  Bei Verzicht auf Leiste 4 sollte visibility auf hidden gesetzt werden.  */

#leiste4 {
	visibility: hidden;
	background-color: transparent;
	border-top: none;
}

	#navi2 {
		background-color: #333399;
		color: #FFFFFF;
		padding-top: 0.2em;
	}

	#navi3box {
		background-color: #CC6666;
		color: #FFFFFF;
	}

	#navi3 {
		left: 4%;
		width: 96%;
        	padding-top: 0.2em;
	}

/*   Gestaltung von Verweisen   */
/*   Generelle Verweise ohne Klassifizierung  */

a, a:link, a:visited, a:active {
	color: #333399;
}

/*   Navigationsverweise   */

a.navistart, a.navistart:link, a.navistart:visited, a.navistart:active {
	color: #FFFFFF;
}

a.navi1, a.navi1:link, a.navi1:visited, a.navi1:active,
a.navi1_akt, a.navi1_akt:link, a.navi1_akt:visited, a.navi1_akt:active,
a.navi2, a.navi2:link, a.navi2:visited, a.navi2:active,
a.navi1sonder, a.navi1sonder:link, a.navi1sonder:visited, a.navi1sonder:active,
a.navi1sonder_akt, a.navi1sonder_akt:link, a.navi1sonder_akt:visited, a.navi1sonder_akt:active {
	background-image: url(../images/kap.gif);
	background-repeat: no-repeat;
	background-position: 0% 50%;
}

a.navi1sonder, a.navi1sonder:link, a.navi1sonder:visited, a.navi1sonder:active,
a.navi1sonder_akt, a.navi1sonder_akt:link, a.navi1sonder_akt:visited, a.navi1sonder_akt:active {
	background-image: url(../images/kapsonder.gif);
}

a:hover, a.navi1_akt, a.navi1_akt, a.navi1_akt:link, a.navi1_akt:visited, a.navi1_akt:active,
a.navi1sonder_akt, a.navi1sonder_akt:link, a.navi1sonder_akt:visited, a.navi1sonder_akt:active,
a.navistart:hover, a.navi1:hover, a.navi1_akt:hover, a.navi1sonder:hover, a.navi1sonder_akt:hover, a.navi2:hover,
a.inhalt1num:hover, a.inhalt2num:hover, a.inhalt3num:hover, a.inhalt4num:hover, a.inhalt5num:hover, a.inhalt6num:hover,
a.objektnum:hover, a.objekt:hover, a.mediennum:hover, a.medziel:hover, a.inhalt:hover, a.inhalt1:hover, a.inhalt2:hover, a.inhalt3:hover, a.inhalt4:hover, a.inhalt5:hover, a.inhalt6:hover {
         color: #CC6666;
}

/*   Weitere kursspezifische Einstellungen   */

pre.schreibmaschine {
	font-size: 1em;
	color: #2D8703;
}

tt {
	font-size: 1em;
	color: #000000;
}

span.marginalie {
         border-left: solid 1px #CC6666;
}

.strich {
	color: #D31E5E;
}

.lernumgebung {
	border-top: solid 1px #333399;
	border-bottom: solid 1px #333399;
}

.navi2act {
	color: #CC6666;
	background-color: transparent;
}

/*   DIV`s mit Farbflächen oder Farbrändern, bzw. Farbe von Titel- und Zwischentiteln  */

div.abschnitt, div.abbildungsverz, div.inhaltsverz, div.multimediaverz, div.tabellenverz, .titel-ohne, div.multimediaverz p.zwischentitel, p.stichwort, div.beispiel p.zwischentitel, div.exkurs p.zwischentitel, div.fall p.zwischentitel, div.kommentar p.zwischentitel, div.norm p.zwischentitel, div.rechtsprechung p.zwischentitel, div.zusammenfassung p.zwischentitel, div.proglist p.zwischentitel, div.fnabschnitt p.zwischentitel, p.primaereintrag, div.literaturliste p.zwischentitel, div.axiom p.titel, div.corollar p.titel, div.definition p.titel, div.folgerung p.titel, div.hauptsatz p.titel, div.hilfssatz p.titel, div.lemma p.titel, div.proposition p.titel, div.regel p.titel, div.satz p.titel, div.theorem p.titel, div.x-umgebung p.titel, div.axiom span.titel, div.corollar span.titel,div.definition span.titel, div.folgerung span.titel, div.hauptsatz span.titel, div.hilfssatz span.titel, div.lemma span.titel, div.proposition span.titel, div.regel span.titel, div.satz span.titel, div.theorem span.titel, div.x-umgebung span.titel  {
         color: #333399;
}

div.beispiel {
	background-color: #F5E2E2;
	border: solid 4px #F5E2E2;
}

div.vertiefung {
	border: 2px solid #CC6666;
}

div.merksatz {
	background-color: #F8F3C2;
	border: 2mm #F8F3C2 solid;
}

div.npr-teil {
	border-left: solid 4px #B0B0B0;
}

div.selbsttestaufgabe p.zwischentitel {
	background-color: #FFF4CC;
	border: solid 4px #FFF4CC;
}

div.uebungsaufgabe p.zwischentitel {
	background-color: #E6E6F3;
	border: solid 4px #E6E6F3;
}

div.einsendeaufgabe p.zwischentitel {
	background-color: #C6EABF;
	border: solid 4px #C6EABF;
}

/* Tabellen -----------------------------------------------------------------------------------------------------   */

table, th, td {
	border: solid 1px #000000;
}

thead {
	background-color: #EFEFEF;
}

div.tabelle tbody {
	background-color: #E1ECFE;
}

div.tabelle-alt tbody {
	background-color: #FFFEE6;
}

/*   TITELSEITE   ------------------------------------------------------------------------------------------------   */

p.kurstitel, p.ke-bezeich, p.ke-titel, p.a-bezeich, p.autoren,
p.m-bezeich, p.mitarbeiter, p.g-bezeich, p.gestalter, p.copyright, p.kursnummer, p.codierung {
	color: #000000;
}

/*   Durch Deaktivieren der der beiden nachstehenden Definitionsblöcke 
     wird eine gestaffelte Einrückung der Dezimalklassifikation bis zur 3. Ebene beim Inhaltsverzeichnis erreicht   */

a.inhalt1num, a.inhalt1num:link, a.inhalt1num:visited, a.inhalt1num:active,
a.inhalt2num, a.inhalt2num:link, a.inhalt2num:visited, a.inhalt2num:active,
a.inhalt3num, a.inhalt3num:link, a.inhalt3num:visited, a.inhalt3num:active,
a.inhalt4num, a.inhalt4num:link, a.inhalt4num:visited, a.inhalt4num:active,
a.inhalt5num, a.inhalt5num:link, a.inhalt5num:visited, a.inhalt5num:active,
a.inhalt6num, a.inhalt6num:link, a.inhalt6num:visited, a.inhalt6num:active,
a.objektnum, a.objektnum:link, a.objektnum:visited, a.objektnum:active,
a.mediennum, a.mediennum:link, a.mediennum:visited, a.mediennum:active,
a.medziel, a.medziel:link, a.medziel:visited, a.medziel:active  {
	padding-left: 0;
	width: 6em;
}

a.inhalt, a.inhalt:link, a.inhalt:visited, a.inhalt:active,
a.inhalt1, a.inhalt1:link, a.inhalt1:visited, a.inhalt1:active,
a.inhalt2, a.inhalt2:link, a.inhalt2:visited, a.inhalt2:active,
a.inhalt3, a.inhalt3:link, a.inhalt3:visited, a.inhalt3:active,
a.inhalt4, a.inhalt4:link, a.inhalt4:visited, a.inhalt4:active,
a.inhalt5, a.inhalt5:link, a.inhalt5:visited, a.inhalt5:active,
a.inhalt6, a.inhalt6:link, a.inhalt6:visited, a.inhalt6:active,
a.objekt, a.objekt:link, a.objekt:visited, a.objekt:active {
	padding-left: 6em;
}  
