/*   C S S   f u e r   d i e   N A V I G A T I O N   d e r   H T M L - A U S G A B E  -  V e r s i o n   2   */

body {
margin-top: 8pt;
margin-left: 8pt;
background-color: #FFFFFF;
font-family: Arial, Helvetica, Helv, Swiss, Sans-serif;
font-size:12.0pt;
scrollbar-face-color:#A496B3;
scrollbar-arrow-color:#F0D67B;
scrollbar-base-color:#6B73FFF;
scrollbar-3d-light-color:#FFFFFF;
scrollbar-darkshadow-color:#000000;
scrollbar-highlight-color:#F0D67B;
scrollbar-shadow-color:#5A4D79;
scrollbar-track-color:#F5E6AF;
}


/*   I N H A L T S V E R Z E I C H N I S   */

p {
  display: block;
  font-family: Arial, Helvetica, Helv, Swiss, Sans-serif;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: normal;
  line-height: 12.0pt;
  margin-bottom: 0.0pt;
}

.iva {
  margin-top: 6.0pt;
}

.ivz0 {
  margin-top: 6.0pt;
}

.ivz1 {
  font-weight: bold;
  margin-top: 6.0pt;
}

p.ivz2,p.ivz3,p.ivz4,p.ivz5,p.ivz6 {
  margin-top: 0.0pt;
  margin-left: 10pt;
} 


/*   V E R L I N K U N G E R N   */

a {
text-decoration:none;
}

a:active {
color: #FF1111;
text-decoration:none;
}

a:link {
color: #0000FF;
text-decoration:none;
}

a:visited {
color: #808080;
text-decoration:none;
}

a:hover {
color: #FF1111;
text-decoration:none;
}